{% extends 'ecom/homebase.html' %}
{% block content %}

<style>
  body, html {
    height: 100%;
    background-color: #8c9eff;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .el-wrapper {
    width: 100%;
    padding: 15px;
    background-color: #fff;
  }

  .box-up img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .info-inner .p-company {
    background-color: #08050a;
    color: yellow;
    font-size: 15px;
    text-transform: uppercase;
  }
</style>

{% if products %}
<h3 style="text-align:center; color:yellow;">{{ word|default:"Available Products" }}</h3>
<br>
<div class="row">
  {% for p in products %}
    <div class="column">
      <div class="container page-wrapper">
        <div class="el-wrapper">
          <div class="box-up">
            <img class="img" src="{{ p.product_image.url }}" alt="product pic">
            <div class="img-info">
              <div class="info-inner">
                <span class="p-company">{{ p.name }}</span>
              </div>
              <div class="a-size">{{ p.description }}</div>
            </div>
          </div>
          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>
            <a class="cart" href="{% url 'add-to-cart' p.id %}">
              <span class="price">£ {{ p.price }}</span>
              <span class="add-to-cart">
                <span class="txt">Add in cart</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:"3" %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>
{% else %}
<h3 style="text-align:center; color:yellow;">No Products Found</h3>
{% endif %}

<script>
  {% if messages %}
    {% for message in messages %}
      alert('{{ message }}');
    {% endfor %}
  {% endif %}
</script>

{% endblock content %}
